@{
    ViewBag.Title = "TeacherSubmitSuccess";
}

<h2 class="internal-header">Your assessment has been submitted successfully!</h2>
<br>
<br>
<p class="return"><a href="/Teacher/Teachermain">Return</a></p>
