@{
    ViewBag.Title = "About";
}

<h1 style="color: #FF4500">Welcome to @ViewBag.Title page!</h1>
<br>
<br>
<p style="font-size:150%"><strong>USAssessment</strong> is a prototype of coursework assessment system for University of Southampton students and staff.<br>
    It was originally designed and developed by two M.Sc. students in ECS college of the university.<br>
    <i class="text-info">All copyright reserved.</i></p>
<br>
<br>
