@{
    ViewBag.Title = "Contact";
}

<h1 class="text-danger">Welcome to @ViewBag.Title page!</h1>
<br>
<br>
<address style="font-size:150%">
    University of Southampton<br>
    University Road<br>
    Southampton SO17 1BJ<br>
    <abbr title="Phone">P:</abbr>
    +44 (0)23 8059 5000<br>
    <abbr title="Fax">F:</abbr>
    +44 (0)23 8059 3131
</address>
<br>
<br>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ecs.soton.ac.uk">Support@ecs.soton.ac.uk</a><br>
    <strong>Marketing:</strong> <a href="mailto:Marketing@ecs.soton.ac.uk">Marketing@ecs.soton.ac.uk</a>
</address>
<br>
<br>

